body{
	color: gray;
	font-size: 20px;
	background-color:#181A1B;
}

h1{
	color: whitesmoke;
}
h2{
	color:#A97D6F;
}

h3{
	color:#C9A2B4;
}
p{
	color: gray;
}
.Nutrition{
	color:#A97D6F;
}

li{
	margin: 10px;
}
strong{
	color: ghostwhite;
}
#image{
	
	border-radius: 10px;

}